<template lang="pug">
  div
    template(v-for="(item, index) in log")
      .chat(v-if="item.stype == 1" :class=" item.type == 1 ? 'me' : 'him'" v-html="item.msg" :key="'chat_'+index")
      .date(v-if="item.stype == 2") {{ item.date.toLocaleString() }}
      .chat(v-if="item.stype == 3" :class=" item.type == 1 ? 'me' : 'him'" :key="'chat_'+index")
        img(v-if="item.mime.indexOf('image') != -1" :src="`data:${item.mime};base64,${item.base64}`")
        span(v-else)
          //- | {{ item.base64 }}
          audio(controls)
            source(:src="`data:audio/mp4;base64,${item.base64}`" :type='item.mime')
            | Your browser does not support the audio element.
 
      .chat(v-if="item.stype == 4" :class=" item.type == 1 ? 'me' : 'him'" :key="'chat_'+index") 
        p
          | [Attachment]
          |
          a(href="#" @click="$parent.download(item.guid)") Download
          br
          | {{ item.name }} ({{ item.guid }})
    template(v-if="id == 0")
      li.chat.him Welcome to AMClient!
      li.chat.him Select chat from chat list to start conversation. 😊
</template>

<script>
export default {
  props: ['log', 'id']
}
</script>

<style lang="css" scoped>
.date {
  display:block;
  text-align: center;
  color: #777;
  clear: both;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
}

#chatView {
  margin: 0;
  padding: 0;
}

#chatView .chat{
  display:inline-block;
  clear: both;
  padding: 10px;
  border-radius: 30px;
  margin-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
}

.him{
  background: #eee;
  float: left;
}

.me{
  float: right;
  background: #0084ff;
  color: #fff;
}

.him + .me{
  border-bottom-right-radius: 5px;
}

.me + .me{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.me:last-of-type {
  border-bottom-right-radius: 30px;
}
</style>
