<template lang="pug">
  nuxt
</template>

<script>
export default {
  head() {
    return {
      title: "A-Message Client"
    }
  }
}
</script>

<style>
* {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
}
html {
  overflow: hidden;
}
</style>
