<template lang="pug">
  div
    .view
      .content
        h1 Connect to A-Message
        form(v-on:submit.prevent="submit")
          .input
            v-text-field(v-model="ip" label='A-Message Device IP', autoforcus="true" required)
          .input
            v-text-field(type="password" v-model="pass" label='Password', required)
          .input
            v-switch(label="Auto Reconnect" v-model="autoReconnect" color="blue darken-3")
          v-btn(:loading="false" type="button" @click="test") Test Connection
          v-btn(:loading="false" type="button" @click="requestNotification") Test Notification
          v-btn(:loading="false" type="submit") Connect
          ul
            li If you click the Test Connection button and a blank screen or 501 error appears, there is no problem.
            li You may not be able to connect due to a bug in Chrome. If you have problems, try Firefox.

</template>

<script>
export default {
  asyncData ({store}) {
    return {
      ip: store.getters['getIP'],
      pass: '',
      autoReconnect: false
    }
  },
  head () {
    return {
      title: "Connect Device"
    }
  },
  mounted () {
    var ip = localStorage.getItem("LAST_IP");
    var pass = localStorage.getItem("LAST_PASS");
    var autoReconnect = localStorage.getItem("AUTO_CONNECT")
    this.ip = ip
    this.pass = pass
    this.autoReconnect = autoReconnect
    if(autoReconnect == 'true') this.submit()
  },
  methods: {
    test () {
      window.open("https://"+this.ip.replace(/\./gm, '-')+".a-dns.rpgfarm.com:3208/")
    },
    requestNotification () {
       try {
        if (Notification.permission !== 'granted') Notification.requestPermission().then(v => {
          if(v == "granted") {
            var notification = new Notification('Success!', {
             body: 'Notification permission granted!',
            });
          }
        });
        var notification = new Notification('Success!', {
         body: 'Notification is works!',
        });
       } catch(e) {
        alert('Desktop notifications not available in your browser. Try Chromium.');
      }
    },
    submit () {
      if (!Notification) {
        alert('Desktop notifications not available in your browser. Try Chromium.');
        return;
      }
      this.requestNotification()
      localStorage.setItem("LAST_IP", this.ip);
      localStorage.setItem("LAST_PASS", this.pass);
      localStorage.setItem("AUTO_CONNECT", this.autoReconnect)
      this.$store.commit('SET_IP', this.ip)
      this.$store.commit('SET_PASS', this.pass)
      this.$router.replace('/')
    }
  }
}
</script>

<style lang="css" scoped>
.view {
  height: 100vh;
  width: 100%;
  display: table;
}
.content {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  text-align: center;
}
.input {
  margin: 0 auto;
  text-align: center;
  max-width: 40vw;
}
#bawrepo {
  position: relative;
  top: 13vh;
}
img {
  max-width: 100%;
  height: auto;
}
</style>
