<template lang="pug">
  v-layout(row)
    v-flex(xs3)
      #chatListView
        #chatListHeader
          p#tabTitle
            | A-Message
        #chatScrollView
          v-list(two-line)
            v-subheader SMS / iMessage
            template(v-for='(item, index) in chatsArray')
              v-list-tile(avatar color="primary" @click="changeView(item.chatID)" active-class="clicked" :value="view == item.chatID" :key="'list_'+item.chatID")
                v-list-tile-avatar
                  img(:src='item.avatar == null ? require("@/assets/img/user.png") : item.avatar')
                v-list-tile-content
                  v-list-tile-title(v-html='item.title')
                  v-list-tile-sub-title(v-html='item.subtitle')
              v-divider(inset)
    v-flex
      #chatListHeader(style="position: relative;")
        p#tabTitle {{ view ? chats[view]['title'] : "A-Message Client" }}
        div(style="font-size: 8px; position: absolute; right: 10px; top: 50%; transform: translateY(-50%);")
          v-btn(small @click="disconnect()") Disconnect
      #chatView.container
        chatView(v-bind:log="chatlog[view]" :id="view")
      #chatTyper
        form(@submit.prevent="send")
          input#chatInput(type="text" placeholder="Type Here..." :disabled="view == 0" autocomplete="off")
</template>

<script>
import chatView from '@/components/chatView.vue'

export default {
  head () {
    return {
      title: "Chats"
    }
  },
  components: { chatView },
  fetch ({store, redirect}) {
    if(!store.getters['getIP']) redirect('/connect')
  },
  data () {
    return {
      websocket: null,
      text: '',
      view: 0,
      chats: { },
      chatlog: { },
      chatsArray: []
    }
  },
  watch: {
    chats: function(chats) {
      var arr = Object.values(chats)
      arr.sort(function(a,b) {
        return new Date(b.date) - new Date(a.date);
      });
      this.chatsArray = arr
    }
  },
  methods: {
    disconnect () {
      localStorage.setItem("AUTO_CONNECT", false)
      this.websocket.close()
    },
    changeView(index) {
      if(this.websocket.readyState == 1) {
        this.view = index
        this.websocket.send('history,/'+index)
      } else this.$toast.warning('Please wait for the connection to complete.', 'AMClient')
    },
    send() {
      var text = window.document.getElementById("chatInput").value
      if(this.websocket.readyState == 1 && this.view != 0 && text != null) {
        this.websocket.send('send,/'+this.view+',/'+text)
        window.document.getElementById("chatInput").value = null
      } else this.$toast.warning('Please select a conversation.', 'AMClient')
    },
    scrollToBottom () {
      var chatView = document.getElementById("chatView");
      chatView.scrollTop = chatView.scrollHeight;
    },
    download (guid) {
      this.$toast.info(`Request file ${guid}..`, 'AMClient')
      if(this.websocket.readyState == 1) {
        this.websocket.send('guid,/'+guid)
      } else this.$toast.warning('Please wait for the connection to complete.', 'AMClient')
    }
  },
  mounted () {
    this.websocket = new WebSocket("wss://"+this.$store.getters['getIP'].replace(/\./gm, '-')+".a-dns.rpgfarm.com:3208/?p="+this.$store.getters['getPass'])
    this.$toast.info('Connecting to device..', 'AMClient')
    this.websocket.onerror = (event) => {
      localStorage.setItem("AUTO_CONNECT", false)
    }
    this.websocket.onopen = (event) => {
      console.log("Success!")
      this.$toast.success('Web client is connected! Loading chat list..', 'AMClient')
      this.websocket.send("list")
    }
    this.websocket.onclose = (event) => {
      console.log(event)
      if(event.wasClean) this.$toast.warning('Web client is disconnected', 'AMClient')
      else this.$toast.error('Failed to connect. Check device IP Address and password.', 'AMClient')
      this.$router.replace('/connect')
    }
    this.websocket.onmessage = async (event) => {
      // return
      var m = event.data
      // console.log(m)
      if(m == "okay/respawn") console.log("Trying respawn MobileSMS")
      if(m == "fail/lock") {
        this.disconnect()
        this.$toast.error('MobileSMS is not running. Please unlock your device.', 'AMClient')
      }
      var splited = m.split(',/')
      var cus = splited[3]
      var tar = splited[2]
      var req = splited[1]
      var res = splited[0]

      if(req == "list") {
        var chats = JSON.parse(res)
        var chatslist = {}
        for (let value of chats) {
          chatslist[value.chatID] = {
            avatar: null,
            title: value.name,
            subtitle: value.last,
            date: value.date,
            chatID: value.chatID
          }
        }
        this.chats = chatslist
      } else if(req == "history") {
        var messages = JSON.parse(res)
        var mlist = []
        for (let value of messages) {
          let internalData = { stype: value['type'] }
          if(value['type'] == 1) {
            internalData.type = value['from-me'] ? 1 : 2
            internalData.msg = value['msg'].replace(/\n/gm, '<br>')
            internalData.date = new Date(value['date']*1000)
          } else if(value['type'] == 2) {
            internalData.date = new Date(value['date']*1000)
            internalData.msg = "Date"
          } else if(value['type'] == 3) {
            internalData.type = value['from-me'] ? 1 : 2
            internalData.base64 = value['base64']
            internalData.mime = value['mime']
            internalData.msg = "Photo/Audio"
          } else if(value['type'] == 4) {
            internalData.type = value['from-me'] ? 1 : 2
            internalData.guid = value['guid']
            internalData.name = value['name']
            internalData.msg = "Attachment"
          }
          mlist.push(internalData)
        }
        if(this.chats[tar]) this.chats[tar].subtitle = mlist[mlist.length-1].msg.replace(/<br>/gm, ' ')
        await this.$set(this.chatlog, tar, mlist)
        this.scrollToBottom()
      } else if(req == "reload") {
        this.websocket.send('history,/'+tar)
      } else if(req == "notification") {
        this.$toast.info('New message from '+tar, 'AMClient')
        var notification = new Notification('You have a new message', {
         body: 'You have a new message from '+tar+'!',
        });
        notification.onclick = () => {
          this.changeView(tar)
        }
      } else if(req == "guid") {
        console.log("Download file:")
        console.log(res)
        var file = JSON.parse(res)

        var a = document.createElement("a");
        a.href = "data:application/octet-stream;base64," + file.data;
        a.download = file.name;
        a.click();

      } else {
        console.log("Unknown request: "+m)
      }
    }
  }
}
</script>

<style>
#chatScrollView {
  overflow-y: scroll;
  height: calc(100vh - 50px);
}
#chatListView {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  height: 100vh;
  width: 100%;
}
#chatTyper {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}
#chatListHeader {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 50px;
  width: 100%;
}
#tabTitle {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  padding-top: 8px;
}
.clicked {
  background-color: #dbdbdb;
}
#chatView {
  overflow-y: scroll;
  height: calc(100vh - 110px);
  padding-bottom: 10px;
}
#chatInput {
  width: 70%;
  margin-right: 8px;
  display: inline;
  outline: none;
}
#chatTyper {
  padding: 20px;
  position: fixed;
  bottom: 0;
}


::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
</style>
